@import '../../assets/scss/global/variables';
@import '../../assets/scss/global/mixins';

section.quote-section-wrapper {
    padding: 180px 160px 90px;
    background-size: cover;
    background-position: center center;

    @media (max-width: 765px) {
        background-position: 70%;
        padding: 100px 30px 80px;
    }
    .container {
        max-width: 780px;

        h2 {
            color: #000;
            font-family: Montserrat-Regular;
            font-size: 25px;
            margin: 15px 0;
            text-align: center;
            width: 100%;
        }
        p {
            color: #000;
            font-family: Montserrat-Light;
            font-size: 18px;
        }
    }
}