@import '../../assets/scss/global/variables';
@import '../../assets/scss/global/mixins';

.hero-video-wrapper {
  background-color: #b9d489;
  .hero-video_row {
    padding: 90px 0;
    align-items: center;
    gap: 80px;

    @include max-mq($md) {
      gap: 30px;
    }

    h2 {
      color: $black;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }
    iframe {
      width: 100%;
      border-radius: 20px;
      height: 380px;
    }
  }

  .hero-subtitle {
    color: $black;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
  }
}