@import '../../assets/scss/global/variables';
@import '../../assets/scss/global/mixins';

.buy-online-and-find-a-store-wrapper {

    margin: 50px 0;

    
    .buy-online-and-find-a-store_row 
    {
        h2 {
            text-align: center;
            color: #FFF;
            background-color: #0a3055;
            padding: 15px 0;
            font-size: 24px;
        }
    }
    .shop-list {
        display: flex;
        padding: 15px 0;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 765px) {
            flex-direction: column;
        }

        a {
            background-color: #fff;
            border: 2px solid #1460aa;
            border-radius: 30px;
            color: #0a3055;
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            padding: 6px 25px;
            text-transform: uppercase;
            transition: .2s;
            background-color: #1460aa;
            margin: 0 15px;
            @media (max-width: 765px) {
                margin: 10px 0;
                width: 200px;
                text-align: center;
            }
            img {
                max-height: 30px;
            }
        
            &:hover {
                border-color: $tertiary-color;
            }
        }
    }

    .shortcode-wrapper {

        .gform_wrapper {
            padding: 15px 0;
            .gf_simple_horizontal {
                display: flex;
                align-items: center;
                justify-content: center;

                .ginput_container {
                    input {
                        background-color: #fff;
                        border: 2px solid #1460aa;
                        border-radius: 30px 0 0 30px;
                        color: #1460aa;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 700;
                        padding: 15px 6px 15px 20px;
                        text-transform: uppercase;
                        transition: .2s;
                        width: 150px;
                    }
                }
                .gfield_label {
                    display: none;
                }
                .gform_button{
                    background-color: #1460aa;
                    border: 2px solid #1460aa;
                    border-radius: 0px 30px 30px 0;
                    color: #FFF;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 14px 20px;
                    text-transform: uppercase;
                    transition: .2s;
                }
            }
           
            
            

        }
       
        
    }
    

}