@import '../../assets/scss/global/variables';
@import '../../assets/scss/global/mixins';

.banner {
    background: $black;
    padding: 50px 0;


    .banner__items {

        @include max-mq ($md) {
            text-align: center;
        }

        .banner__left {

            .banner-title-secondary {
                font-size: $font-size-h2;

                span {
                    display: block;
                    font-size: $font-size-h1;
                    color: $white;
                    font-family: $secondary-font;
                }
            }
        }

        .banner__right {
            .banner__text {
                color: $white;
                font-size: $font-size-small;
                margin-bottom: 20px;
            }
        }
    }

}