@import '../../assets/scss/global/variables';
@import '../../assets/scss/global/mixins';

.product-highlight-wrapper {
    .main-title-wrapper {
        background-color: $green;
        padding: 20px 0;

        h1,h2{
            color: $white;
            text-align: center;

            @media (max-width: 1024px) { 
                font-size: 30px;
            }
        }
    }

    .product-hihglight-inner-wrapper {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding-top: 70px;
        align-items: center;

        @media (max-width: 500px) {
                flex-direction: column;
                align-items: center;
                text-align: center;
            
        }

    
        .product-image-wrapper {
            flex: 1;
            background-image: var(--glow-url);
            img {
                @media (max-width: 500px) {
                    max-height: 300px;
                    width: auto;
                }
            }
        }
        .product-desc-wrapper{
            flex: 1.5;
            min-width: 300px;
            p {
                margin: 20px 0 30px 0;
                color: #FFF;
                letter-spacing: 1px;
                font-weight: 400;
                line-height: 21px;
            }
            .product-notice {
                margin: 20px 0;
                font-size: 12px;
            }
            h2 {
                color: #FFF;
            }
        }
    
        .benefit-main-wrapper {
            display: flex;
            flex-direction: column;
            gap: 40px;
            flex: 2;
            min-width: 300px;
            margin-bottom: 100px;
            @media (max-width: 1024px) {
                margin-bottom: 50px;
            }

    
            .sinlge-benefit-wrapper {
                display: flex;
                align-items: center;
                gap: 30px; // Adjust spacing between icon and text
                max-width: 600px; // Set a max width for readability
                @media (max-width: 768px) {
                   
                        flex-direction: column;
                        text-align: center;
                   
                }
                .benefit-icon-wrapper {
                    flex: 0 0 50px; // Fixed width for the icon
                    img {
                        width: 100%;
                        height: auto;
                    }

                    @media (max-width: 768px) {
                        flex: unset;
                    }
                }
            
                .benefit-content-wrapper {
                    flex: 1; // Allow text to take remaining space
                    color: #FFF;
                    h4 {
                        margin-bottom: 10px;
                    }
                }

            }

           
            
            
        }
    }

   
}